aioconsole==0.5.1
aiohttp==3.8.3
aiosignal==1.2.0
async-timeout==4.0.2
attrs==22.1.0
autopep8==2.0.0
bidict==0.22.0
charset-normalizer==2.1.1
frozenlist==1.3.1
idna==3.4
multidict==6.0.2
Panda3D==1.10.12
panda3d-gltf==0.13
panda3d-simplepbr==0.10
Pillow==9.3.0
pycodestyle==2.9.1
pyperclip==1.8.2
python-engineio==4.3.4
python-socketio==5.7.2
six==1.16.0
tomli==2.0.1
ursina==5.0.0
xlib==0.21
yarl==1.8.1
